<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template}">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Quản lý trang chủ</title>
    <script th:src="@{/staticAdmin/global_assets/js/plugins/editors/summernote/summernote.min.js}"></script>
    <script th:src="@{/staticAdmin/global_assets/js/plugins/forms/styling/uniform.min.js}"></script>
    <script th:src="@{/staticAdmin/global_assets/js/demo_pages/editor_summernote.js}"></script>
    <script th:src="@{/staticAdmin/js_templates/dashboard.js}"></script>
</head>

<body>
<div class="content">
    <section class="container-fluid bg-light h-100" layout:fragment="content_body">
        <div class="content-wrapper">
            <div class="content">
<!--                <div class="card">-->
<!--                    <div class="card-header header-elements-inline">-->
<!--                        <h5 class="card-title">Thông tin bài viết</h5>-->
<!--                        <div class="header-elements">-->
<!--                            <div class="list-icons">-->
<!--                                <a class="list-icons-item" data-action="collapse"></a>-->
<!--                                <a class="list-icons-item" data-action="reload"></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                    <div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <img th:src="@{/api/image/upload/image5.png}" width="250" height="250"/>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="note-btn-group btn-group note-insert">-->
<!--                        <button type="button" class="note-btn btn btn-light btn-sm" role="button"-->
<!--                                title="" data-target="#modal-upload-file">-->
<!--                            <i class="note-icon-picture"></i>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                    <input type="file" class="form-control" accepts="/api/image/upload/*" multiple="true"/>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <div id="previews"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" id="edit" class="btn btn-primary legitRipple"><i&ndash;&gt;-->
<!--&lt;!&ndash;                                    class="icon-pencil3 mr-2"></i> Tạo mới&ndash;&gt;-->
<!--&lt;!&ndash;                            </button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" id="save" class="btn btn-success legitRipple"><i&ndash;&gt;-->
<!--&lt;!&ndash;                                    class="icon-checkmark3 mr-2"></i> Lưu&ndash;&gt;-->
<!--&lt;!&ndash;                            </button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h6>Tiêu đề</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="click2edit" style="display: none;">&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h6>Nội dung</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="click2edit" style="display: none;">&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h6>Hình ảnh</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="click2edit" style="display: none;">&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Danh sách bài viết</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a href="#1">1</a>
                                <a href="#2">2</a>
                                <a href="#3">3</a>
                                <a href="#4">4</a>
                                <a href="#5">5</a>
                                <a href="#6">6</a>
                                <a href="#7">7</a>
                            </div>
                        </div>
                    </div>
<!--                    max-height: 700px;overflow: auto;display:inline-block;-->
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="postTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" role="dialog" id="modal-upload-file" aria-label="Insert Image"
         style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4 class="modal-title">Thêm ảnh</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            aria-hidden="true">×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group note-form-group note-group-select-from-files"><label
                            class="note-form-label">Select from files</label><input
                            class="note-image-input form-control-file note-form-control note-input"
                            type="file" name="files" accept="image/*" multiple="multiple"></div>
                </div>
                <div class="modal-footer"><input type="button" href="#"
                                                 class="btn btn-primary note-btn note-btn-primary note-image-btn"
                                                 value="Insert Image" disabled=""></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>