<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link th:href="@{/staticAdmin/global_assets/css/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/staticAdmin/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/staticAdmin/assets/css/bootstrap_limitless.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/staticAdmin/assets/css/layout.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/staticAdmin/assets/css/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/staticAdmin/assets/css/colors.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/staticAdmin/global_assets/js/main/jquery.min.js}"></script>
    <script th:src="@{/staticAdmin/global_assets/js/plugins/loaders/blockui.min.js}"></script>
    <script th:src="@{/staticAdmin/global_assets/js/plugins/ui/ripple.min.js}"></script>
    <script th:src="@{/staticAdmin/global_assets/js/plugins/forms/styling/uniform.min.js}"></script>
    <script th:src="@{/staticAdmin/assets/js/app.js}"></script>
    <script th:src="@{/staticAdmin/global_assets/js/demo_pages/login.js}"></script>
    <link th:href="@{/staticClient/newlife/images/logoNewlife.png}" rel="shortcut icon">
</head>
<body>
<div class="page-content login-cover" style="background-color: #273039">
    <div class="content-wrapper">
        <div class="content d-flex justify-content-center align-items-center">
            <form class="login-form wmin-sm-400" th:action="@{/login}" method="post">
                <div class="card mb-0">
                    <ul class="nav nav-tabs nav-justified alpha-grey mb-0">
                        <li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active"
                                                data-toggle="tab"><h4 class="my-1 font-weight-bold"
                                                                      style="color: #009799">WELCOME TO NEWLIFE</h4></a>
                        </li>
                    </ul>
                    <div class="tab-content card-body">
                        <div class="tab-pane fade show active" id="login-tab1">
                            <div class="text-center mb-3">
                                <img th:src="@{/staticClient/newlife/images/logoNewlife.png}">
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="password" class="form-control pwd" placeholder="Password" name="password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                <div class="form-control-feedback" style="margin-left: 87%">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default reveal" type="button" style="border-radius: 100%"
                                                data-toggle="tooltip" title="Xem mật khẩu"><i
                                                class="icon-eye2"></i></button>
                                     </span>
                                </div>
                            </div>
                            <div class="alert text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <span class="navbar-text ml-5">&copy; 2020. Design by <span><a th:href="@{/dashboard}">Newlife Company</a></span></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".reveal").on('click', function () {
        var $pwd = $(".pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
</script>
</body>
</html>
