<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template}">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Quản lý tài khoản</title>

    <!--    <script>-->
    <!--        var loadFile = function (event) {-->
    <!--            var reader = new FileReader();-->
    <!--            reader.onload = function () {-->
    <!--                var output = document.getElementById('output');-->
    <!--                output.src = reader.result;-->
    <!--            };-->
    <!--            reader.readAsDataURL(event.target.files[0]);-->
    <!--        };-->
    <!--    </script>-->
</head>
<body>
<div class="content">
    <section class="container-fluid bg-light h-100" layout:fragment="content_body">
        <div class="card mt-4 ml-2 mr-2">
            <div style="margin: auto;">
                <h5 class="card-title ml-2 mt-2 mb-1">Bảng thông tin tài khoản</h5>
            </div>
            <div>
                <div class="clearfix mt-1 mb-0">
                    <span class="float-left">
                        <button type="button" class="btn btn-dark ml-3" onclick="add_user()"
                                style="padding: 4px 8px 4px 8px;">
                            <i class="icon-plus-circle2 mr-2"></i>
                            <span>Thêm mới</span></button>
                    </span>
                </div>
                <div class="form-group d-flex"
                     style="margin-left: 81%; width: 15%; margin-bottom: 0; margin-top: -32px;">
                    <label for="groupProbeIDFilter" class="mt-2 mr-2"><i class="icon-filter3"></i></label>
                    <select class="form-control selectpicker" name="groupProbeIDFilter" id="groupProbeIDFilter"
                            onchange="getUserByRole(this.value)">
                        <option selected value="All">Tất cả</option>
                        <option selected value="ADMIN">Admin</option>
                        <option selected value="USER">Tác giả</option>
                    </select>
                </div>
                <div class="row" style="margin-right: 0; margin-left: 0;">
                    <table class="table table-responsive" id="usersTable">
                    </table>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="add_edit_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="margin-left: 38%;"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="text-danger-800 font-weight-bold">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form_add_edit_user">
                                <div class="form-group" style="display: none">
                                    <label for="id">UserID</label>
                                    <input type="number" class="form-control" name="id" id="id"
                                           aria-describedby="id"
                                           placeholder="User ID">
                                </div>
                                <div class="form-group">
                                    <label for="username">Tên tài khoản</label>
                                    <input type="text" class="form-control" name="username" id="username"
                                           aria-describedby="username"
                                           placeholder="Tên tài khoản">
                                </div>
                                <div class="form-group">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" name="password" id="password"
                                           aria-describedby="password" placeholder="Mật khẩu">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tên người dùng</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                           aria-describedby="name" placeholder="Tên người dùng">
                                </div>
                                <div class="form-group">
                                    <label for="role">Quyền</label>
                                    <select class="form-control selectpicker" name="role" id="role">
                                        <option value="ROLE_USER">Tác giả</option>
                                        <option value="ROLE_ADMIN">Admin</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" name="address" id="address"
                                           aria-describedby="address" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" name="email" id="email"
                                           aria-describedby="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">Số điện thoại</label>
                                    <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                           aria-describedby="phoneNumber" placeholder="Số điện thoại">
                                </div>
                                <button type="button" class="btn btn-primary mr-1 float-right"
                                        onclick='submitForm(this.form)'>Thực hiện
                                </button>
                                <button type="button" id="form_close" class="btn btn-secondary mr-1 float-right"
                                        data-dismiss="modal">Hủy
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/staticAdmin/js_templates/users.js}"></script>
        </div>
    </section>
</div>
</body>
</html>