<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/template}">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" th:href="@{/staticClient/newlife/css/about.css}">
    <script type="text/javascript" th:src="@{/staticClient/newlife/js/about.js}"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu8BQn5PRVzfQ6-_dgpUQRIqej_CTY2Qc&callback=initMap">
    </script>
</head>
<body style="margin-top: 0!important;">
<div class="boxed">
    <div layout:fragment="content_body">
        <div class="page-title parallax parallax1" style="background-position: 50% 8px;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12" data-aos="fade-up">
                        <div class="page-title-heading">
                            <h1 class="title" style="padding-right: 24px">Liên hệ</h1>
                        </div>
                        <div class="breadcrumbs">
                            <ul>
                                <li><a th:href="@{/dashboard}">Trang chủ</a></li>
                                <li><a th:href="@{/about}">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="flat-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box" data-aos="fade-right">
                            <h1 style="text-align: center">Địa chỉ công ty <i
                                    class="fa fa-map-marker hvr-float text-danger"></i></h1>
                        </div>
                        <div data-aos="fade-right" id="address_company_map" style="height: 400px!important;"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flat-row" style="padding-bottom: 0!important; padding-top: 0!important;">
            <div class="container">
                <div class="title-box" style="text-align: center" data-aos="zoom-in">
                    <h1 style="color: #273039">Liên hệ với chúng tôi</h1>
                </div>
                <div class="row">
                    <div class="flat-on-three" data-aos="fade-right">
                        <div class="flat-contact-info text-center">
                            <i class="fa fa-volume-control-phone hvr-float"></i>
                            <h2>Gọi ngay</h2><br>
                            <h6 style="color: #11a808">Điện thoại: 091 356 2868</h6>
                        </div>
                    </div>
                    <div class="flat-on-three" data-aos="fade-up">
                        <div class="flat-contact-info text-center">
                            <i class="fa fa-map-marker hvr-float"></i>
                            <h2>Địa chỉ</h2><br>
                            <h6 style="color: #a81401">Số 5, 33/189 Ô Chợ Dừa, Đống Đa, Hà Nội</h6>
                        </div>
                    </div>
                    <div class="flat-on-three" data-aos="fade-left">
                        <div class="flat-contact-info text-center" style="border-right: none">
                            <i class="fa fa-inbox hvr-float"></i>
                            <h2>Email</h2><br>
                            <h6 style="color: #2a23a8">Info@ssmvn.net</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flat-row">
            <div class="container">
                <div class="row">
                    <div class="title-box" style="text-align: center" data-aos="fade-up">
                        <h2 style="color: #4a5edc">Chúng tôi đã sẵn sàng để trả lời câu hỏi của bạn<br>
                            <a th:href="@{/dashboard}" class="text-warning-600">
                                <img th:src="@{/staticClient/newlife/images/logoNewlife.png}" width="20" height="20"
                                     style="margin-bottom: 10px">
                                <span style="font-weight: bold; color: #caca2a">NEWLIFE</span>
                            </a>
                            <span style="color: #000000">luôn mong muốn có được mối quan hệ cùng
                                có lợi lâu dài với khách hàng trong tương lai.</span>
                        </h2>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6" data-aos="zoom-in" style="text-align: center;">
                        <input type="text" value="" placeholder="Tên" id="name" style="color: #000000;">
                        <input type="email" value="" placeholder="Email" id="email" style="color: #000000;">
                        <input type="number" value="" placeholder="Số điện thoại" id="phoneNumber"
                               style="color: #000000;">
                        <textarea class="type-input" placeholder="Vấn đề cần hỗ trợ" id="message"
                                  style="color: #000000;"></textarea>
                        <button class="flat-button bg-theme" onclick="sendMessage()">Gửi tin</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>