.image-container {
    position: relative;
    width: 100%;
    height: 554px;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    display: block;
    background: rgba(41, 41, 41, 0.6);
}

#bg-image-1 {
    width: 100vw;
}

#image-laptop {
    width: 305px;
    height: 203px;
}

#image-iphone {
    width: 79px;
    height: 158px;
}

#image-content2 {
    width: 290px;
    height: 203px;
}

#image-content2-1 {
    width: 100px;
    height: 158px;
    margin-left: 44%;
}

.image-service {
    width: 512px;
    height: 317px;
}

.div-image-aboutUS {
    margin-top: 49px;
    padding-left: 14.422vw;
    padding-bottom: 4.625em;
    overflow: hidden;
    position: relative;
}

.img-holder {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.img-holder:hover {
    transform: scale(1.3);
}

.div-image-service {
    margin-bottom: 0 !important;
    /*width: 271px !important;*/
    /*height: 148px !important;*/
}

.div-image-service img {
    margin-bottom: 0 !important;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.div-content-service {
    background-color: #ffffff;
    padding: 30px 30px 19px 19px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .12), 1px 1px 1px rgba(0, 0, 0, .24);
}

.div-title-service {
    margin: 0;
    font-size: 14px !important;
}

.button-service {
    border-radius: 10px;
    height: 70%;
    font-size: 12px;
    margin-top: 30px;
}

.icon-service {
    padding-left: 10px;
}

.card-service {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.test-img:hover {
    vertical-align: middle;
    transition: all ease-in-out 0.4s;
    width: 100%;
}

.flat-toggle {
    padding: 0 !important;
}

.toggle-content {
    display: block !important;
    padding: 0 !important;
}

.flat-row {
    padding-top: 0 !important;
    background-color: #D5EAEC;
}

.header-service {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.header-service span {
    font-size: 20px;
    color: #004767;
    margin-left: 14vw;
}

.header-service div {
    display: flex;
    align-items: center;
    margin-left: 58vw;
}


.div-benefits {
    width: 80%;
}

.div-benefits .row {
    padding-top: 70px !important;
    padding-bottom: 80px !important;
    background-color: #ffffff;
}

.div-benefits p {
    color: #4f6676;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 26px;
}

.div-benefits i {
    color: #00aeff;
    font-weight: bold;
    margin-right: 5px;
}

.div-benefits h6 {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    .banner-title {
        font-size: 16px;
    }

    .title-accordion span {
        font-size: 15px;
    }

    .flat-accordion.style5 .title-accordion {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .flat-accordion.style5 {
        padding: 0;
    }

    .header-service div {
        margin-left: 44vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-title {
        font-size: 19px;
    }

    .title-accordion span {
        font-size: 17px;
    }

    .flat-accordion.style5 .title-accordion {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flat-accordion.style5 {
        padding: 0;
    }

    .header-service div {
        margin-left: 53vw;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .banner-title {
        font-size: 24px;
    }

    .title-accordion span {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1200px) {

}



