.image-container {
    position: relative;
    width: 100%;
    height: 554px;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    display: block;
    background: rgba(41, 41, 41, 0.6);
}

#bg-image-1 {
    width: 100vw;
    height: 550px !important;
}

.div-image-service {
    margin-bottom: 0 !important;
}

.div-title-service {
    margin: 0;
    font-size: 14px !important;
}

.div-content-service {
    background-color: #ffffff;
    padding: 30px 30px 19px 19px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .12), 1px 1px 1px rgba(0, 0, 0, .24);
}

.card-feature {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.div-image {
    overflow: hidden;
    position: relative;
}

.img-holder {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.img-holder:hover {
    transform: scale(1.3);
}

.banner-title-1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.menu-content {
    background-color: #E0E0E0;
    height: 39px;
    padding-left: 10em;
    padding-right: 10em;
    color: #7B7B7B;
}

.menu-content ul {
    display: flex;
    color: #7B7B7B;
}

.menu-content li {
    margin: 7px 2.875em;
}

.card-fade-in-scroll {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 0.8s;
    margin-top: 3em;
}

.card-fade-in-scroll.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.div-key-feature{
    padding-left: 12.875em;
    padding-right: 12.875em;
    color: #7B7B7B
}

@media only screen and (max-width: 767px) {
    .banner-title-1 {
        font-size: 18px !important;
    }

    .banner-title-2 {
        font-size: 21px !important;
    }

    .menu-content{
        padding-left: 5em;
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px){
    .banner-title-1 {
        font-size: 18px !important;
    }

    .banner-title-2 {
        font-size: 18px !important;
    }

    .menu-content li {
        margin: 7px 1em;
    }

    .div-key-feature {
        padding-left: 5.875em;
        padding-right: 5.875em;
        color: #7B7B7B;
    }

    #keyBenefit{
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-title-1 {
        font-size: 20px !important;
    }

    .banner-title-2 {
        font-size: 26px !important;
    }

    .div-key-feature {
        padding-left: 5.875em;
        padding-right: 5.875em;
        color: #7B7B7B;
    }

    .card-fade-in-scroll{
        text-align: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .banner-title-1 {
        font-size: 25px !important;
    }

    .banner-title-2 {
        font-size: 31px !important;
    }

    .div-key-feature {
        padding-left: 7.875em;
        padding-right: 7.875em;
        color: #7B7B7B
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1343px) {
    .div-key-feature {
        padding-left: 7.875em;
        padding-right: 7.875em;
        color: #7B7B7B
    }
}
