.header-text {
    color: #ffffff !important;
}

.menu-row {
    margin-left: 9vw;
}

.menu-main {
    margin-top: 1%;
}

.menu-logo {
    margin-bottom: 3%;
}

.menu-company {
    margin-left: 4%;
    font-size: 18px;
}

.menu-ul {
    text-align: left !important;
    margin-left: 10vw !important;
}

.footer-contact-info {
    margin-top: 45px;
    color: #ffffff !important;
}

.footer-contact-info img {
    margin-bottom: 3%;
}

.footer-contact-info span {
    margin-left: 4%;
    font-size: 20px;
}


.vmap {
    height: 250px !important;
    width: 100%;
}


@media only screen and (max-width: 767px) {
    .btn-menu {
        display: block;
        margin-top: -31px !important;
        margin-right: 30px;
    }

    .mainnav {
        display: none;
    }

    .menu-logo {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .footer-widgets container {
        width: 70%;
    }

    .footer-contact-info {
        margin-top: -20px;
        text-align: center;
    }

    .footer-map {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .footer-link {
        text-align: center;
    }

    .widget.widget-newsletter {
        padding-left: 0;
    }

    .footer-widgets .widget.widget-services {
        padding-left: 0;
    }

    .go-top.show {
        margin-right: 19px;
    }

    .zalo-chat-widget {
        right: 20px !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn-menu {
        display: block;
        margin-top: 37px !important;
        margin-right: 30px;
    }

    .menu-logo {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mainnav {
        display: none;
    }

    #mainnav > ul > li > a {
        padding: 0 5px;
        margin: 0 5px;
        font-size: 13px;
    }

    #mainnav > ul {
        text-align: left;
    }

    #mainnav > ul > li:first-child > a {
        margin-left: 0;
        margin-right: 5px;
    }

    .flat-analysis a {
        padding: 11px 3px 11px 5px;
    }

    .flat-button.medium {
        padding: 20px 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .btn-menu {
        display: block;
        margin-top: 37px !important;
        margin-right: 30px;
    }

    .menu-logo {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mainnav {
        display: none;
    }

    #mainnav > ul > li > a {
        padding: 0 5px;
        margin: 0 5px;
        font-size: 13px;
    }

    #mainnav > ul {
        text-align: left;
    }

    #mainnav > ul > li:first-child > a {
        margin-left: 0;
        margin-right: 5px;
    }

    .flat-analysis a {
        padding: 11px 3px 11px 5px;
    }

    .flat-button.medium {
        padding: 20px 40px;
    }

}

@media only screen and (min-width: 1200px) {
    .btn-menu {
        display: none;
    }

    .mainnav {
        display: block;
    }

}






