<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/newlife/css/dashboard.css}">
    <script th:src="@{/newlife/js/dashboard.js}"></script>>
</head>
<body class="header_sticky">
<div class="boxed">
    <div layout:fragment="content_body">
        <div class="tp-banner-container" id="home">
            <div class="tp-banner">
                <ul>
                    <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000"
                        data-saveperformance="on">
                        <div class="image-container">
                            <img th:src="@{/newlife/images/image2.png}" alt="slider-image" id="bg-image-1"/>
                            <div class="after"></div>
                        </div>
                        <div class="tp-caption sfl title-slide color-white center" data-x="180" data-y="124"
                             data-speed="500" data-start="500" data-easing="Power3.easeInOut">
                            <h1 class="banner-title">Testing & Optimize<br>
                                Management System</h1>
                        </div>
                        <div class="tp-caption element-slider sfb" data-x="800" data-y="330" data-speed="700"
                             data-start="1200" data-easing="Power3.easeInOut">
                            <img th:src="@{/newlife/images/laptop.png}" alt="content" id="image-laptop">
                        </div>

                        <div class="tp-caption element-slider sfb" data-x="790" data-y="390" data-speed="700"
                             data-start="1500" data-easing="Power3.easeInOut">
                            <img th:src="@{/newlife/images/iphone.png}" alt="content" id="image-iphone">
                        </div>

                        <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="180" data-y="360"
                             data-speed="700" data-start="1500" data-easing="Power3.easeInOut"><a href="#">Learn
                            More</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                    </li>
                    <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000"
                        data-saveperformance="on">
                        <img th:src="@{/images/slides/slide2.jpg}" alt="slider-image"/>
                        <div class="tp-caption sfl title-slide color-white center" data-x="180" data-y="124"
                             data-speed="500" data-start="500" data-easing="Power3.easeInOut">
                            <h1 class="banner-title">Testing & Optimize<br>
                                Management System</h1>
                        </div>
                        <div class="tp-caption element-slider sfb" data-x="800" data-y="300" data-speed="700"
                             data-start="1200" data-easing="Power3.easeInOut">
                            <img th:src="@{/images/slides/content2.png}" alt="content" id="image-content2">
                        </div>

                        <div class="tp-caption element-slider sfb" data-x="715" data-y="390" data-speed="700"
                             data-start="1500" data-easing="Power3.easeInOut">
                            <img th:src="@{/images/slides/content2-1.png}" alt="content" id="image-content2-1">
                        </div>
                        <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="180" data-y="360"
                             data-speed="700" data-start="1500" data-easing="Power3.easeInOut"><a href="#">Learn
                            More</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 div-image-aboutUS">
                <img th:src="@{/newlife/images/image5.png}" alt="content" class="img-holder yy"
                     style="  max-width: 100%;height: auto;">
            </div>
            <div class="col-xs-6">
                <div class="empty-space height30"></div>
                <div class="flat-accordion style5">
                    <div class="title-accordion">
                        <span>About us</span>
                    </div>
                    <div class="flat-toggle">
                        <div class="toggle-content">
                            <p>Newlife Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum
                                has been the industry’s standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="flat-row no-paddingbottom">
            <div class="header-service">
                <span>Our Services</span>
                <div>
                    <a href="#">All Services</a>
                    <i class="fa fa-chevron-right" style="margin-left: 7px; color:dodgerblue"></i>
                </div>
            </div>
            <div class="container" style="width: 67%">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="iconbox images card-service">
                            <div class="box-header div-image-service">
                                <img th:src="@{/newlife/images/image20.png}" alt="icon">
                            </div>
                            <div class="box-content div-content-service">
                                <div class="box-title div-title-service">
                                    <a href="#">Service Quality Testing</a>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proidento in culpa qui officia deserunt mollit
                                    anim
                                    id est</p>
                                <button class="btn btn-group button-service">
                                    Learn more
                                    <i class="fa fa-chevron-right icon-service"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="iconbox images card-service">
                            <div class="box-header div-image-service">
                                <img th:src="@{/newlife/images/image22.png}" alt="icon">
                            </div>
                            <div class="box-content div-content-service">
                                <div class="box-title div-title-service">
                                    <a href="#">Network Quality Testing</a>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proidento in culpa qui officia deserunt mollit
                                    anim
                                    id est</p>
                                <button class="btn btn-group button-service">
                                    Learn more
                                    <i class="fa fa-chevron-right icon-service"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="iconbox images card-service">
                            <div class="box-header div-image-service">
                                <img th:src="@{/newlife/images/image21.png}" alt="icon">
                            </div>
                            <div class="box-content div-content-service">
                                <div class="box-title div-title-service">
                                    <a href="#">Data Analyzer Solution</a>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proidento in culpa qui officia deserunt mollit
                                    anim
                                    id est</p>
                                <button class="btn btn-group button-service">
                                    Learn more
                                    <i class="fa fa-chevron-right icon-service"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="iconbox images card-service">
                            <div class="box-header div-image-service">
                                <img th:src="@{/newlife/images/image25.png}" alt="icon">
                            </div>
                            <div class="box-content div-content-service">
                                <div class="box-title div-title-service">
                                    <a href="#">FTTx Testing</a>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proidento in culpa qui officia deserunt mollit
                                    anim
                                    id est</p>
                                <button class="btn btn-group button-service">
                                    Learn more
                                    <i class="fa fa-chevron-right icon-service"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="iconbox images card-service">
                            <div class="box-header div-image-service">
                                <img th:src="@{/newlife/images/image23.png}" alt="icon">
                            </div>
                            <div class="box-content div-content-service">
                                <div class="box-title div-title-service">
                                    <a href="#">PSTN Testing</a>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proidento in culpa qui officia deserunt mollit
                                    anim
                                    id est</p>
                                <button class="btn btn-group button-service">
                                    Learn more
                                    <i class="fa fa-chevron-right icon-service"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="iconbox images card-service">
                            <div class="box-header div-image-service">
                                <img th:src="@{/newlife/images/image26.png}" alt="icon">
                            </div>
                            <div class="box-content div-content-service">
                                <div class="box-title div-title-service">
                                    <a href="#">Roaming Quality Analyzer</a>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proidento in culpa qui officia deserunt mollit
                                    anim
                                    id est</p>
                                <button class="btn btn-group button-service">
                                    Learn more
                                    <i class="fa fa-chevron-right icon-service"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </section>
        <section class="flat-row"
                 style="padding-top: 70px!important; padding-bottom: 140px!important; background-color: #ffffff">
            <div class="container" style="width: 70%">
                <img th:src="@{/newlife/images/image18.png}" alt="content">
            </div><!-- /.container -->
        </section>
    </div>
</div>
</body>
</html>